<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s6.leaguetool.mapper.LeagueChatMessageMapper">

    <select id="queryChatHistory" resultType="com.s6.leaguetool.model.LeagueChatMessageEntity">
        SELECT * FROM `league_chat_message` where user_area = #{region} and `enable` = '0' ORDER BY create_time desc limit #{count}
    </select>
</mapper>
